@charset "UTF-8";

.contenedor{
	margin: 30px auto;
	width: 90%;
	padding-bottom:30px;
}
.contenido{
	margin:20px 30px;
	padding: 20px;
}

.centrado{
	text-align:center;
}
.headercentrado{
	margin:20px;
	text-align:center;
}
.formularioespaciado{
	display:block;
	margin:20px;
}
.container-qetm{
	margin: auto;
	margin-top: 30px;
	width: 60%;
  	border: 3px solid #73AD21;
  	padding: 10px;
  	text-align: center;
}

.parrafo-qetm{
	margin-top: 60px;
}


#index{
	padding:30px;
}

.separarli{
	padding:0;
}
.separarli li{
	display:block;
	margin: 10px auto;
}

.bodyacordeon{
	margin:0;
}
.bodyacordeon .table{
	width:auto;
	margin:auto;
}

.titulo{
	margin:30px auto;
	text-align:center;
}
#titulo1{
	margin-top:30px;
}
.recuadro li{
	width:auto;
}
.recuadro{
	width:auto;
	margin:20px 25%;
	padding:20px;
}

.contenidocarousel{
	margin:auto;
	padding:30px;
	max-width:60%;
}
.contenidocarousel img{
	max-width:80%;
	margin:auto;
}

.card{
	margin:auto;
}

.contenedorcard{
	margin: 30px auto;
	width: 90%;
}
.cuerpocard{
	padding-bottom:40px;
}

footer a{
	margin:40px;
}