@charset "UTF-8";

.centrado .separarli, .recuadro{
	list-style-type:none;
}

.subrayado{
	text-decoration:underline;
}

.separarli li a{
	text-decoration:none;
}



html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 10px;
}


footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}



.bg-general{
	
	  background: #3D3C3A;
	  
	  
	background-image: url("../mapa30p100.png");
	color: white;
	
}

