@charset "UTF-8";
.centrado{text-align:center;border:1px dotted #000; padding:8px;}
		div{width:50%;border:1px dotted #f00;padding:8px;margin:auto;}
		center{margin:16px 0;}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}